@using shop.Data.ViewModell
@model UpdateItemViewModel
@{
    Layout = "_Layout";
}
<form method="post" enctype="multipart/form-data">
    <div>
        Наименование:
        <br /><input name="name" value="@Model.Item.Name" placeholder="Наименование:" />
    </div>
    <div>
        Описание:
        <br /><input name="description" value="@Model.Item.Description" placeholder="Описание:" />
    </div>
    <div>
        <label for="file">Изображение</label>
        <br /><input name="files" value="@Model.Item.Img" type="file" />
    </div>
    <div>
        Стоимость
        <br /><input name="price" value="@Model.Item.Price" />
    </div>
    <div>
        Категория:
        <br /><select name="idCategory">
            @{
                foreach (var Category in Model.Categories)
                {
                    <option value="@Category.Id">@Category.Name</option>
                }
            }
        </select>
    </div>
    <input type="submit" value="Обновить" />
</form>
